* {
    margin: 0%;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}
 header {
    height: 60px;
    background-color: #fff;
    padding: 24px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 header > a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #404040;transition: 0.2s;
 }
 header > a:hover {
    transform: scale(1.2);
    color: #b09f30;
 }

 .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6F7F8;
    padding: 88px 0px 120px 0px;
    
 }
 .hero__title {
    font-size: 56px;
    font-weight: 700;
    width: 60%;
    margin: auto;
    text-align: center;
    color: #121212;
 }
.hero__desc {
    font-size: 18px;
    font-weight: 400;
    color: #404040;
}

.hero__badge {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    gap: 20px;
}
.hero__badge_icon {
    width: 100%;
}
.hero__qr {
    width: 30%;
    background-color: #E9EFF6;
    margin-top: 4%;
    padding: 89.5px 434px 89.5px 96px;
    border-radius: 40px;
}
.hero__qr_desc {
    font-size: 40px;
    font-weight: 300;
}
.instruction {
    background-color: #F4DE49;
    padding: 120px 128px;
}
.instruction__title {
    font-size: 48px;
    color: #121212;
    font-weight: 700;
    margin-bottom: 3%;
}
.instruction__list {
    list-style-type: none;
    padding-left: 0;
}
.instruction__item {
    display: flex;
    margin-right: 10%;
    margin-bottom: 3%;
}
.instruction__item_title {
    font-size: 24px;
}
.instruction__item_number {
    font-size: 24px;
    margin-top: 19px;
    margin-right: 25px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
}
.instruction__item_img {
    padding: 0 10px;
    width: 36%;
}
.instruction__item_number > p {
    margin-top: 8px;
}
.instruction__item_desc {
    font-size: 18px;
}
.instruction__item_end {
    display: flex;
    position: relative;
}
.instruction__item_end-desc {
    font-size: 40px;
    color: #121212;
    background-color: #fff;
    width: 580px;
    padding: 32px 32px;
    border-radius: 40px;
    font-weight: 300;
    
}
.instruction__item_end-img {
    position: absolute;
    top: 25%;
    right: 37%;
}
.price {
    display: flex;
    padding: 120px 128px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: #F6F7F8;
}
.price__title {
    color: #121212;
    font-size: 48px;
    font-weight: 700;
}
.price__card {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
}
.price__info{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.price__info_btn {
    padding: 10px 20px;
    border-radius: 24px;
    background-color:#86ACDF;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 6%;
    border-radius: 40px;
    transition: 0.4;
}
.price__info_btn:active {
    background-color: #F6F7F8;
    border: 2px solid #86ACDF;
    color: #86ACDF;
    
}
.price__info_title {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}
.price__info_title-container {
    display: flex;
    gap: 16px;
}
.price__info_desc {
    margin-bottom: 3%;
    font-size: 24px;
    font-weight: 400;
}
.price__download {
    background-color: #DEECFF;
    border-radius: 40px;
    padding: 48px;
    gap: 32px;
}
.price__download_title {
    font-size: 48px;
    color: #121212;
    font-weight: 300;
}
.price__download_btn{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.price__download_btn > img {
    width: 46%;
}
.banner {
    display: flex;
    padding: 88px 128px;
    background-color: #86ACDF;
    height: 29%;
}
.banner__lift_logo {
    width: 62%;
}
.banner__title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.banner__left_phone {
    display: none;
}
.banner__desc {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}
.banner__left {
    position: relative;
}
.banner__coffee {
    z-index: 1000;
    position: absolute;
    top: 0%;
    right: -6%;
}
.banner__vector {
    margin-top: 5%;
}
.map {
    padding: 120px 128px;
    gap: 48px;
    background-color: #F4DE49;
}
.map__title {
    font-size: 48px;
    font-weight: 700;
    color: #121212;
    text-align: center;
    margin: 0 31%;
}
.map__title > h4 {
    margin: 0 0 5% 0;
}
.map__container {
    display: flex;
}
.map__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 580px;
    align-items: center;
    align-content: center;
    gap: 24px;
    transition: 0.4;
}
.map__card_backgr:hover {
    transform: scale(1.1);
    border: 2px solid #86ACDF;
}
.map__card_blue {
    background-color: #86ACDF;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;
    border-radius: 16px;
}
.map__card_backgr {
    display: flex;
    width: 34%;
    background-color: #fff;
    height: 218px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: 30%;
    border-radius: 40px;
}
.map__icon_name {
    font-size: 24px;
    font-weight: 700;
    color: #121212;
    margin-top: 0;
}
.map__img {
    margin-top: 5%;
    width: 103%;
}
.services{
    background-color: #F6F7F8;
    display: flex;
    padding: 120px 128px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.services__title {
    font-size: 48px;
    font-weight: 700;
    color: #121212;
}
.services__card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.services__icon_bachgr-white {
    padding: 32px;
    width: 26%;
    height: 390px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.4s;
}
.services__icon_bachgr-white:hover {
    transform: scale(1.1);
    border: 2px solid #86ACDF;
}
.services__icon_bachgr-blue {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 16px;
    justify-content: center;
    align-items: center; 
    background-color: #86ACDF;  
}
.services__list_title {
    font-size: 24px;
    color: #121212;
    font-weight: 700;
}
.services__list_desc {
    font-size: 20px;
    color: #404040;
    font-weight: 400;
}
.banner2 {
    background-color: #00B6AB;
    padding: 80px 128px 0 128px;
    display: flex;
    position: relative;
    height: 429px;
}
.banner2__left {
    width: 64%;
}
.banner2__header {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-right: 25%;
    margin-bottom: 5%;
}
.banner2__desc {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5%;
    margin-right: 27%;
}
.banner2__btn {
    padding: 16px 40px;
    font-size: 18px;
    color: #121212;
    text-align: center;
    border: none;
    background-color: #F4DE49;
    border-radius: 56px;
}
.banner2__btn:active {
    background-color: #00B6AB;
    color: #F4DE49;
    border: 2px solid #F4DE49;
}
.banner2__right {
    position: absolute;
    top: 2%;
    right: 0%;
}
.questions {
    padding: 120px 229px;
    background-color: #F6F7F8;
}
.questions__header {
    font-size: 48px;
    color: #121212;
    font-weight: 700;
    text-align: center;
}
.questions__item {
    list-style-type: none;
    display: flex;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.questions__item > p {
    font-size: 18px;
    color: #121212;
}
.questions__item > button {
    border-radius: 50%;
    width: 4%;
    padding-top: 4px;
    padding-left: 5px;
    border: 2px solid #E1E7FB;
    background-color: #F6F7F8;
}
.questions__item > button:hover {
    background-color: #F4DE49;
}
.questions__item > button:active {
    background-color: #F0D100;
}
.questions__btn {
    padding: 16px 48px;
    margin-left: 35%;
    margin-top: 6%;
    border-radius: 56px;
    border: 2px solid #F4DE49;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.questions__btn:hover {
    background-color: #F4DE49;
}
.questions__btn:active {
    background-color: #F0D100;
}
.questions__btn_plus {
    margin-right: 4px;
}

.map2 {
    display: flex;
    padding: 120px 128px;
    align-items: center;
    gap: 24px;
    background-color: #F4DE49;
    border-radius: 40px 40px 0 0;
}
.map2__left_title {
    font-size: 48px;
    font-weight: 700;
    margin: 1% 0 4% 0;
}
.map2__left_btn {
    display: flex;
    gap: 25px;
}
.map2__left_qr {
    width: 23%;
    margin-top: 5%;
}
.contact {
    background-color: #7196C9;
    padding: 96px 136px;
    display: flex;
    justify-content: space-between;
}
.contact__left {
    width: 40%;
}
.contact__left_header {
    display: flex;
    gap: 15px;
}
.contact__left_header > h4 {
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
.contact__left_logo {
    width: 25%;
}
.contact__left_title > h5 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 10% 0;
}
.contact__left_desc {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 8px;
}
.contact__left_block {
    display: flex;
    gap: 10px;
}
.contact__left_block > p {
    font-size: 24px;
    font-weight: 400;
}
.contact__right {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 9%;
    gap: 15px;
}
.contact__right_input {
    padding: 20px 24px;
    border-radius: 12px;
    font-size: 24px;
    border: none;
}
.contact__right_checkbox-container {
    display: flex;
    margin: 3% 0;
}
.contact__right_checkbox {
    width: 33px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.contact__right_checkbox-container > p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0;
}
.contact__right_btn {
    display: flex;
    height: 72px;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    width: 48%;
    background-color: #F4DE49;
    border-radius: 56px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: #121212;
}
.contact__right_btn:hover {
    background-color: #F0D100;
}
footer {
    display: flex;
    height: 60px;
    padding: 24px 128px;
    justify-content: space-between;
    align-items: center;
    background-color: #E7EEF8;
}
footer > a{
    text-decoration: none;
    font-size: 18px;
    color: #404040;
    transition: 0.4s;
}
footer > a:hover {
    transform: scale(1.2);
    color: #b09f30;
 }



